html,
body,
#root {
	padding: 0;
	margin: 0;
	height: 100%;
	font-size: 32px;
	font-family: Helvetica, sans-serif;
}

.drag-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 22px;
	-webkit-app-region: drag;
}

.parent {
	margin-top: 22px;
	height: 100%;
	display: flex;
	flex-flow: column;
	text-align: center;
}
